.car-icon {
  width: 10vw;
  height: 70px;
}
.car-container {
  padding-top: 5vh;
}
.car-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.car-btn {
  background-color: black;
  cursor: pointer;
}
.control-car {
  display: flex;
}
.car-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  border-bottom: 1px dashed;
}
.start-line {
  border-right: 1px solid white;
  height: 50px;
  padding-left: 75px;
}
.start-text {
  display: inline-block;
  transform: rotate(90deg);
}
.car-icon-container {
  position: absolute;
  z-index: 2;
}
.car-name {
  position: absolute;
  left: 17vw;
}
.pagination-list {
  display: flex;
  column-gap: 3vw;
  list-style: none;
  cursor: pointer;
  color: aqua;
  flex-wrap: wrap;
}
a {
  text-decoration: unset;
  color: aqua;
}
.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
