.car-icon {
  width: 50px;
  height: 50px;
  border-right: 1px solid white;
}
.car-container {
  margin-top: 5vh;
}
.car-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.car-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.start-line {
  border-right: 1px solid white;
  height: 50px;
}
.start-text {
  display: inline-block;
  transform: rotate(90deg);
}
